* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    max-width: 1425px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    transition: .6s;
}

a:hover {
    background-color: black;
    color: white
    
}

h1 {
    text-transform: uppercase;
    padding: 0 27rem;
    word-spacing: .8rem;
    font-size: 2.8rem;
    text-align: center;
    color: #ffff00;
}

h1.verde {
    color: #008000;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    height: 350px;
    width: 500px;
}

.item-1, 
.item-2,
.item-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;

    color: black;
    font-weight: bold;

    background-color: white;
    border-radius: 50%;
    height: 33px;
    width: 33px;
}

.item-1 {
    right: 160px;
}
.item-2 {
    right:90px
}
.item-3 {
    right: 20px;
}

#foto-vans {
    background-color: #ff0000;
    
}

#foto-tommy {
    background-color: #008000;

}

article#foto-converse {
    background-color: #ffff00;
} 

